:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --brightness: 1;
}

.section-3 img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  filter: blur(var(--blur)) brightness(var(--brightness));
}

.section-3 .hl {
  color: var(--base);
}

.section-3 h2 {
  margin: 0;
  padding: 30px;
}

/*
  misc styles, nothing to do with CSS variables
*/

.section-3 {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 40px;
  min-height: 100vh;
  height: 100%;
}

.section-3 .controls {
  margin-bottom: 50px;
}

.section-3 input {
  width: 100px;
}
